/** css de la page */
#scene {
	display: inline-block;
	background-color:#C0C0C0;
	height: 500px;
	width: 500px;

}

#titreScene {
	color: black;
	font-size: 20px;
	/*text-decoration: underline;*/
}
#divTitre{
	height: 10%;
	width: 100%;
	background: #808080;
}

#object_panel{
	height: 90%;
	width: 35%;
	background:#C0C0C0;
}

#svg_container {
	height: 90%;
	width: 60%;
	background: #F5FFFA
	;
}
#object_space{
	height: 100%;
	width: 100%;
	background: #F5FFFA;
}
#idRect{
	height: 100%;
	width: 100%;
	background:#F5FFFA;
}


/** map*/
 #mapid {
 	width: 100%;
 	height:100%; 
 }

 